* {
    /* border: 1px solid red !important; */
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-sm-0 {
    width: 0%;
}

.col-sm-1 {
    width: 8.33%;
}

.col-sm-2 {
    width: 16.66%;
}

.col-sm-3 {
    width: 25%;
}

.col-sm-4 {
    width: 33.33%;
}

.col-sm-5 {
    width: 41.66%;
}

.col-sm-6 {
    width: 49.99%;
}

.col-sm-7 {
    width: 58.32%;
}

.col-sm-8 {
    width: 66.65%;
}

.col-sm-9 {
    width: 74.98%;
}

.col-sm-10 {
    width: 83.31%;
}

.col-sm-11 {
    width: 91.64%;
}

.col-sm-12 {
    width: 100%;
}